<ul class="breadcrumb">
  <li class="active">Event Information</li>
</ul>

<h2>New event</h2>

<p>The next few pages will ask you for various information on your event.</p>

<p id="price">The last step is a $0.99 payment to list your event on Birmingham Events.</p>

<%= render 'form' %>

or go <%= link_to 'back', events_path %>